.page-container {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
  }
  
  .width{
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .table td {
    vertical-align: middle;
  }
  
  .img-fluid {
    max-width: 100px;
    height: auto;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  
  .appointment-nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #007bff;
  }
  
  .nav-link.active {
    color: #0056b3;
    font-weight: bold;
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  
  .search-container {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .search-bar {
    position: relative;
    display: inline-block;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #aaa;
  }
  
  .search-input {
    padding-left: 35px;
    width: 250px;
  }
  
  .table-header {
    background-color: #f8f9fa;
    margin: 10px 0;
  }
  
  .patient-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .time {
    color: #5a5a5a;
    font-weight: bold;
  }
  
  .type.online {
    color: #ffae00;
    background-color: #fff3cd;
    padding: 5px 8px;
    border-radius: 15px;
    text-align: center;
  }
  
  .type.onsite {
    color: #6c63ff;
    background-color: #e8eaf6;
    padding: 5px 8px;   
    border-radius: 15px;
    text-align: center;
  }
  
  .view-icon {
    color: #28a745;
    cursor: pointer;
    text-align: center;

  }
  
    